@use '../../utils'
@use '../../shared'

.event__hero 
    width: 100%
    @include utils.flexbox(row, nowrap, flex-start, stretch, stretch)
    z-index: 3
    position: sticky 
    height: auto
    margin-top: 15dvh
    background-image: url('../images/bg-event.webp')
    background-size: cover 
    background-position: center right
    background-repeat: no-repeat 
    @include utils.sm
        margin-top: 0
        background-size: 69.7% 100% 
        top: 0
    @include utils.sm-portrait
        width: 69.7%
        height: 40dvh
        background-size: cover
    &__stamp 
        position: absolute 
        top: 1.5rem 
        right: 1.5rem
        align-items: flex-end
        transition: all 0.3s ease-out
        @include utils.md
            top: 3.5rem 
            right: 2.5rem
        @include utils.md-portrait
            top: auto 
            bottom: 2rem
        .event__data-stamp__location
            font-size: 2.5rem
            @include utils.md
                font-size: 3.9rem
        .event__data-stamp__date
            font-size: 1.5rem
            margin-top: -0.3rem
            @include utils.md
                font-size: 2.25rem
                margin-top: -0.5rem
        .event__data-stamp__unlocked
            font-size: 1.1rem
            margin-top: -0.3rem
        &:has(.event__data-stamp__unlocked)
            .event__data-stamp__location
                font-size: 3.5rem
                @include utils.md
                    font-size: 3.9rem
    &__content
        width: 100%
        position: relative 
        z-index: 1
        &::after 
            content: '' 
            width: 69.7% 
            height: 1px
            background: var(--color-border-dark)
            position: absolute 
            top: 100% 
            left: 30.3%
        .container
            height: 100%
            padding-right: 0
            @include utils.portrait
                justify-content: center
        .event__hero__wrapper
            width: 100%
            @include utils.flexbox(column, nowrap, flex-start, stretch, stretch)
            padding: 2.5rem 2rem 2.5rem 0.75rem
            gap: 1rem
            position: relative
            transition: all 0.5s ease-out
            @include utils.sm
                gap: 1.5rem
                padding: 4rem 0 4rem 25.5%
            @include utils.lg 
                padding: 4rem 2.5rem 4rem 21rem
            @include utils.xl 
                padding-left: 29%
            @include utils.xxxl 
                padding-left: 18.5%
            @include utils.sm-portrait
                padding: 4rem 4rem 4rem 2rem
    &__top 
        @include utils.flexbox(row, nowrap, space-between, center, center)
        margin-bottom: 1rem 
        @include utils.lg
            margin-bottom: 0
        .event__back-link
            @include utils.flexbox(row, nowrap, flex-start, center, center)
            gap: 0.4rem
            transition: all 0.3s ease
            &:hover 
                @media (hover: hover) and (pointer: fine)
                    color: var(--color-zero-click-2026-primary)
                    transform: translateX(-0.2rem)
            svg 
                width: 0.8rem
                margin-top: -0.1rem
                transition: all 0.3s ease
    &__subheading 
        width: 60%
        @include utils.sm 
            width: 95%
        @include utils.xl 
            width: 60% 
        @include utils.portrait
            width: 95%
    &__footer 
        @include utils.flexbox(column-reverse, nowrap, flex-start, flex-start, flex-start)
        margin-top: 1rem
        transition: all 0.5s ease-out
        gap: 1rem
        @include utils.sm
            @include utils.flexbox(row, nowrap, space-between, center, center)
    &__data 
        @include utils.flexbox(row, nowrap, space-between, center, center)
        gap: 1.5rem 
        font-size: 1rem
        width: 100%
        @include utils.md 
            width: auto
            gap: 3.5rem 
            justify-content: flex-end
            font-size: 1.1rem
        @include utils.sm-portrait 
            @include utils.flexbox(column, nowrap, flex-end, flex-end, flex-end)
            gap: 0.5rem
            font-size: 1rem
    &__video 
        width: 100%
        height: 100%
        @include utils.flexbox(row, nowrap, center, center, center)
        overflow: hidden
        background: var(--color-bg-dark-gray)
        video
            aspect-ratio: 16/9
            object-fit: cover 
            object-position: center
            filter: grayscale(100%)
            border: none
    &__hide-on-scroll
        overflow: hidden
        max-height: 500px
        opacity: 1
        transform: translateY(0)
        transition: max-height .5s utils.$ease-out-quad, opacity .3s utils.$ease-out-quad, transform .4s utils.$ease-out-quad, margin .5s utils.$ease-out-quad
    &.scrolled
        top: 0
        margin-top: 0
        @include utils.sm-portrait
            top: 3.5rem
            height: 25dvh
        @include utils.sm
            top: 3rem 
        @include utils.xl
            top: 3rem
        .event__hero__top
            margin-bottom: 0.5rem
        .event__hero__footer
            margin-top: 0.5rem
            gap: 0.5rem
        .event__hero__wrapper
            padding: 4.5rem 2rem 1.5rem 0.75rem
            gap: 0
            @include utils.sm
                padding: 5rem 0 2rem 25.5%
            @include utils.lg 
                padding: 2.5rem 2.5rem 2.5rem 21rem
            @include utils.xl 
                padding-left: 29%
            @include utils.xxxl 
                padding-left: 18.5%
            @include utils.sm-portrait
                padding: 5rem 4rem 2rem 2rem
            @include utils.md-portrait
                padding-top: 2rem
        .event__hero__hide-on-scroll
            max-height: 0
            margin-top: 0
            margin-bottom: 0
            opacity: 0
            transform: translateY(-12px)
            pointer-events: none
            &--desktop 
                @media (max-width: utils.$breakpoint-lg)
                    max-height: unset
                    margin-top: 0
                    margin-bottom: 0
                    opacity: 1
                    transform: none
                    pointer-events: initial